<?xml version="1.0" encoding="utf-8"?>
<config>
	<field name="asset_id" type="hidden" filter="unset" />
	<fieldset name="settings" label="議題設定">

		<field name="statement_text" type="editor" buttons="false" hide="pagebreak,readmore,testimonial" class="inputbox" filter="safehtml" label="個資聲明內容" required="true" labelclass="control-label" />
        
		<!--<field name="assign_api_keys" type="textarea"  label="可投票人名單介接API KEY" rows="5" cols="5" labelclass="control-label" description="請用半形逗號做區隔" />-->

		

		<field name="email_verify_content" type="textarea"  label="信件驗證碼訊息" rows="5" cols="5" class="config_textarea" description="請用%code%代表驗證碼" />

		<field name="phone_verify_content" type="textarea"  label="手機驗證碼訊息" rows="5" cols="5" class="config_textarea" description="請用%code%代表驗證碼" />

		<field name="save_email_content" type="textarea"  label="完成投票通知" rows="5" cols="5" class="config_textarea" description="請用%title%代表議題名稱，%ticket%代表票號，%url%代表結果網址" />

		<field name="assign_api_keys" type="text" class="input-xlarge" size="30" label="可投票人名單介接API KEY" labelclass="control-label" placeholder="ex:key_20151201_001"  />
		
		<field name="core_review" type="usergroup"
			label="審核群組" 
			multiple="false"
			default="4"
		/>
		
	</fieldset>
	
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL">
		<field name="rules" type="rules"
			component="com_surveyforce"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component" />
	</fieldset>
</config>