<?xml version="1.0" encoding="utf-8"?>
<!--
	@package         Surveyforce
	@version           1.0-modified
	@copyright       JooPlce Team, 臺北市政府資訊局, Copyright (C) 2016. All rights reserved.
	@license            GPL-2.0+
	@author            JooPlace Team, 臺北市政府資訊局- http://doit.gov.taipei/
-->
<config>
    <field name="asset_id" type="hidden" filter="unset"/>
    <fieldset name="settings" label="議題設定">

        <field name="statement_text" type="editor" buttons="false" hide="pagebreak,readmore,testimonial"
               class="inputbox" filter="safehtml" label="個資聲明內容" required="true" labelclass="control-label"/>


        <field name="email_verify_content" type="textarea" label="信件驗證碼訊息" rows="5" cols="5" class="config_textarea"
               description="請用%code%代表驗證碼"/>

        <field name="phone_verify_content" type="textarea" label="手機驗證碼訊息" rows="5" cols="5" class="config_textarea"
               description="請用%code%代表驗證碼"/>

        <field name="save_email_content" type="textarea" label="完成投票通知" rows="5" cols="5" class="config_textarea"
               description="請用%title%代表議題名稱，%ticket%代表票號，%url%代表結果網址，%lottery%代表抽獎提示"/>

        <field name="participant" type="textarea" label="留存信件內容【已參加抽獎提示】" rows="5" cols="5" class="config_textarea"
        />

        <field name="non_participant" type="textarea" label="留存信件內容【未參加抽獎提示】" rows="5" cols="5" class="config_textarea"
               description="請用%resend%代表補送網址"/>

        <field name="lottery_join" type="textarea" label="完成頁已參加抽獎提示" rows="5" cols="5" class="config_textarea"
               description="完成頁已參加抽獎提示"/>

        <field name="lottery_unjoin" type="textarea" label="完成頁未參加抽獎提示" rows="5" cols="5" class="config_textarea"
               description="未參加抽獎提示"/>

        <field name="assign_api_keys" type="text" class="input-xlarge" size="30" label="可投票人名單介接API KEY"
               labelclass="control-label" placeholder="ex:key_20151201_001"/>

        <field name="core_review" type="usergroup"
               label="審核群組"
               multiple="false"
               default="4"
        />

        <field name="undertaker" type="usergroup"
               label="承辦群組"
               multiple="false"
        />

        <field name="print" type="usergroup"
               label="管理群組-議題列印"
               multiple="false"
        />
        <field name="show_result" type="usergroup"
               label="管理群組-觀看結果"
               multiple="false"
        />
        <field name="export_result" type="usergroup"
               label="管理群組-匯出結果"
               multiple="false"
        />

        <field name="Internal_IP" type="textarea" label="內部IP範圍清單" rows="5" cols="5" class="config_textarea"
               hint="請使用 &quot; - &quot; 表示IP範圍，並用半形逗號區隔多組IP  ex:192.168.1.1-192.168.1.100, 114.32.110.56"
               description="請使用 &quot; - &quot; 表示IP範圍，並用半形逗號區隔多組IP  ex:192.168.1.1-192.168.1.100, 114.32.110.56"/>

        <field name="prefix_words" type="text" class="input-xlarge" size="30" label="議題複製前綴字"
               labelclass="control-label"/>

    </fieldset>

    <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL">
        <field name="rules" type="rules"
               component="com_surveyforce"
               filter="rules"
               validate="rules"
               label="JCONFIG_PERMISSIONS_LABEL"
               section="component"/>
    </fieldset>
</config>